<style>
    .btnfunction {
        color: blue;
        text-decoration: none;
    }

    .btnfunction:hover {
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <img src="./Images/user.png" class="rounded-circle border border-dark" width="50px" height="50px" alt=""
                srcset="">
            <span class="fw-bold">Quốc trung</span>
            <hr>
            <div>
                <a href="#!thongtintaikhoan" class="fs-5 text-decoration-none text-dark"><i
                        class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a class="fs-5 text-decoration-none text-danger"><i class="bi bi-geo-alt-fill"></i> Địa chỉ của
                    tôi</a><br>
                <a href="#!donhangcuaban" class="fs-5 text-decoration-none text-dark"><i class="bi bi-bag-fill"></i> Đơn
                    hàng của tôi</a><br>
                <a href="#!voucher" class="fs-5 text-decoration-none text-dark"><i class="bi bi-list"></i> Kho
                    voucher</a><br>
                <a href="#!doimatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Đổi
                    mật khẩu</a>
            </div>
        </div>
        <div class="col-9 p-3 bg-light">
            <div class="row border-bottom mb-3">
                <div class="d-flex justify-content-between">
                    <div class="p-2 bd-highlight">Địa chỉ của tôi</div>
                    <div class="p-2 bd-highlight">
                        <button type="button" style="background-color: orangered; color: white;" class="btn rounded-0" ng-click="openAddModalWithReload()"><i class="bi bi-plus"></i> Thêm địa chỉ mới</button>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <p>Địa chỉ</p>
                <div class="d-flex justify-content-between mt-3 border-bottom" ng-repeat="x in dataDiachi| orderBy:customSort">
                    <div class="p-2 bd-highlight">
                        <p>
                            <span class="border-end">{{x.tennguoinhan}}</span>
                            <span>{{x.sdtnguoinhan}}</span>
                        </p>
                        <p class="text-secondary">
                            {{x.diachicuthe}}
                            {{x.phuongxa}}, {{x.quanhuyen}}, {{x.thanhpho}}
                        </p>
                        <div>
                            <span ng-if="x.trangthai=='Mặc định'" class="p-1" style="border: 1px solid orangered; color: orangered; font-size: 10px;">Mặc định</span>
                            <span ng-if="x.trangthai=='Lấy hàng'" class="p-1" style="border: 1px solid black; color: black; font-size: 10px;">Địa chỉ lấy hàng</span>
                            <span ng-if="x.trangthai=='Trả hàng'" class="p-1" style="border: 1px solid black; color: black; font-size: 10px;">Địa chỉ trả hàng</span>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="mb-3 text-center">
                            <a class="btnfunction" ng-click="LoadviewEdit(x.id)">Cập nhật</a>
                            <a class="btnfunction" ng-if="x.trangthai!='Mặc định'" ng-click="DeleteBtn(x.id)">Xóa</a>
                        </div>
                        <button type="button" class="btn btn-outline-dark rounded-0 border-1" ng-click="MacDinhBtn(x.id)" ng-if="x.trangthai!='Mặc định'">Thiết lập mặc định</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add Address-->
<div class="modal fade" id="AddAddressModal" tabindex="-1" aria-labelledby="AddAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddAddressModalLabel">Thêm địa chỉ mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" row mb-3">
                    <div class="col-md">
                        <input type="text" ng-model="add.tennguoinhan" placeholder="Họ và tên" class="form-control"
                            id="tennguoinhan">
                    </div>
                    <div class="col-md">
                        <input type="tel" ng-model="add.sdtnguoinhan" placeholder="Số điện thoại" class="form-control"
                            id="sdtnguoinhan">
                    </div>
                </div>
                <div class="mb-3">
                    <select class="form-select" ng-model="selectedCity" ng-options="city.name for city in cities" ng-change="loadDistricts()">
                        <option value="">Chọn tỉnh thành</option>

                    </select>
                </div>
                <div class=" row mb-3">
                    <div class="col-md">
                        <select class="form-select" ng-model="selectedDistrict" ng-options="district.name for district in districts" ng-change="loadWards()">
                            <option value="">Chọn quận huyện</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <select class="form-select" ng-model="selectedWard" ng-options="ward.name for ward in wards" ng-change="updateResult()">
                            <option value="">Chọn phường xã</option>

                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input ng-model="add.diachicuthe" type="text" placeholder="Địa chỉ cụ thể" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Loại địa chỉ</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model="add.trangthai" ng-value="'Mặc định'" name="trangthai">
                        <label class="form-check-label">
                            Đặt làm địa chỉ mặc định
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model="add.trangthai" ng-value="'Lấy hàng'" name="trangthai">
                        <label class="form-check-label">
                            Đặt làm địa chỉ lấy hàng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model="add.trangthai" ng-value="'Trả hàng'" name="trangthai">
                        <label class="form-check-label">
                            Đặt làm địa chỉ trả hàng
                        </label>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" ng-click="AddBtn()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Address Modal -->
<div class="modal fade" id="EditAddressModal" tabindex="-1" aria-labelledby="EditAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditAddressModalLabel">Cập nhật địa chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md">
                        <input type="text" ng-model="edit.tennguoinhan" placeholder="Họ và tên" class="form-control">
                    </div>
                    <div class="col-md">
                        <input type="tel" ng-model="edit.sdtnguoinhan" placeholder="Số điện thoại" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <select class="form-select" ng-model="selectedCity" ng-options="city.name for city in cities" ng-change="loadDistricts()">
                        <option value="">Chọn tỉnh thành</option>
                    </select>
                </div>
                <div class=" row mb-3">
                    <div class="col-md">
                        <select class="form-select" ng-model="selectedDistrict" ng-options="district.name for district in districts" ng-change="loadWards()">
                            <option value="">Chọn quận huyện</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <select class="form-select" ng-model="selectedWard" ng-options="ward.name for ward in wards" ng-change="updateResult()">
                            <option value="">Chọn phường xã</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input ng-model="edit.diachicuthe" type="text" placeholder="Địa chỉ cụ thể" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Loại địa chỉ</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model="edit.trangthai" ng-value="'Mặc định'" name="trangthai">
                        <label class="form-check-label">
                            Đặt làm địa chỉ mặc định
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model="edit.trangthai" ng-value="'Lấy hàng'" name="trangthai">
                        <label class="form-check-label">
                            Đặt làm địa chỉ lấy hàng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" ng-model="edit.trangthai" ng-value="'Trả hàng'" name="trangthai">
                        <label class="form-check-label">
                            Đặt làm địa chỉ trả hàng
                        </label>
                    </div>
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnSaveAddress">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditAddressModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật địa chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="updateAddressId" value="" style="display: none;">
                <div class=" row mb-3">
                    <div class="col-md">
                        <input type="text" ng-model="update.tennguoinhan" placeholder="Họ và tên" class="form-control"
                            id="updatetennguoinhan">
                    </div>
                    <div class="col-md">
                        <input type="tel" ng-model="update.sdtnguoinhan" placeholder="Số điện thoại" class="form-control"
                            id="updatesdtnguoinhan">
                    </div>
                </div>
                <div class="mb-3">
                    <select id="updateTinh" class="form-select">
                        <option selected value="">Chọn Tỉnh Thành</option>
                    </select>
                </div>
                <div class=" row mb-3">
                    <div class="col-md">
                        <select id="updateQuan" class="form-select">
                            <option selected value="">Chọn Quận Huyện</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <select id="updatePhuong" class="form-select">
                            <option selected value="">Chọn Phường Xã</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input ng-model="update.diachicuthe" type="text" placeholder="Địa chỉ cụ thể" id="updatedetailInput"
                        class="form-control">
                </div>
                <div class="mb-3" style="display: none;">
                    <input ng-model="update.trangthai" type="text" placeholder="Trạng thái" id="updateCondition"
                        class="form-control" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="updateForm">Lưu</button>
            </div>
        </div>
    </div>
</div>