<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <img src="./Images/user.png" class="rounded-circle border border-dark" width="50px" height="50px" alt="" srcset="">
            <span class="fw-bold">Quốc trung</span>
            <hr>
            <div>
                <a href="#!thongtintaikhoan" class="fs-5 text-decoration-none text-dark"><i class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a class="fs-5 text-decoration-none text-danger"><i class="bi bi-geo-alt-fill"></i> Địa chỉ của tôi</a><br>
                <a href="#!donhangcuaban" class="fs-5 text-decoration-none text-dark"><i class="bi bi-bag-fill"></i> Đơn hàng của tôi</a><br>
                <a href="#!voucher" class="fs-5 text-decoration-none text-dark"><i class="bi bi-list"></i> Kho voucher</a><br>
                <a href="#!doimatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Đổi mật khẩu</a>
            </div>
        </div>
        <div class="col-9 p-3 bg-light">
            <div class="row border-bottom mb-3">
                <div class="d-flex justify-content-between">
                    <div class="p-2 bd-highlight">Địa chỉ của tôi</div>
                    <div class="p-2 bd-highlight">
                        <button type="button" style="background-color: orangered; color: white;" class="btn rounded-0"><i class="bi bi-plus"></i> Thêm địa chỉ mới</button>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <p>Địa chỉ</p>
                <div class="d-flex justify-content-between mt-3 border-bottom">
                    <div class="p-2 bd-highlight">
                        <p>
                            <span class="border-end">Hoàng Thanh Giang</span>
                            <span>0987654321</span>
                        </p>
                        <p class="text-secondary">
                            9 Đình Quán
                            Phường Phúc Diễn, Quận Bắc Từ Liêm, Hà Nội
                        </p>
                        <div>
                            <span class="p-1" style="border: 1px solid orangered; color: orangered;">Mặc định</span>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="mb-3 text-center text-decoration-none">
                            <a href="#" style="text-decoration: none;">Cập nhật</a>
                            <a href="#" style="text-decoration: none;">Xóa</a>
                        </div>
                        <button type="button" class="btn btn-outline-dark rounded-0 border-1">Thiết lập mặc định</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3 border-bottom">
                    <div class="p-2 bd-highlight">
                        <p>
                            <span class="border-end">Hoàng Thanh Giang</span>
                            <span>0987654321</span>
                        </p>
                        <p class="text-secondary">
                            9 Đình Quán
                            Phường Phúc Diễn, Quận Bắc Từ Liêm, Hà Nội
                        </p>
                        <div>
                            <span class="p-1" style="border: 1px solid gray; color: gray;">Địa chỉ lấy hàng</span>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="mb-3 text-center">
                            <a href="#" style="text-decoration: none;">Cập nhật</a>
                            <a href="#" style="text-decoration: none;">Xóa</a>
                        </div>
                        <button type="button" class="btn btn-outline-dark rounded-0 border-1">Thiết lập mặc định</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>