<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <img src="./Images/user.png" class="rounded-circle border border-dark" width="50px" height="50px" alt="" srcset="">
            <span class="fw-bold">Quốc trung</span>
            <hr>
            <div>
                <a href="#!thongtintaikhoan" class="fs-5 text-decoration-none text-dark"><i class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a href="#!diachi" class="fs-5 text-decoration-none text-dark"><i class="bi bi-geo-alt-fill"></i> Địa chỉ của tôi</a><br>
                <a class="fs-5 text-decoration-none text-danger"><i class="bi bi-bag-fill"></i> Đơn hàng của tôi</a><br>
                <a href="#!voucher" class="fs-5 text-decoration-none text-dark"><i class="bi bi-list"></i> Kho voucher</a><br>
                <a href="#!doimatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Đổi mật khẩu</a>
            </div>
        </div>
        <div class="col-9">
            <!-- Tabs Điều Hướng -->
          <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab">
                    Tất cả
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab">
                    Chờ thanh toán
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab">
                    Vận chuyển
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab">
                    Chờ giao hàng
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab">
                    Hoàn thành
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" type="button" role="tab">
                    Đã hủy
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab7-tab" data-bs-toggle="tab" data-bs-target="#tab7" type="button" role="tab">
                    Trả hàng/Hoàn tiền
                </button>
            </li>
        </ul>
        <div class="input-group pt-3">
          <button class="btn btn-dark" type="button" id="button-addon1">Button</button>
          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        <!-- Nội Dung Tab -->
        <div class="tab-content mt-3 py-3" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                <div class="mb-3 bg-light">
                  <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                    <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                    <div class="p-2 bd-highlight">
                      <a href="#" class="text-decoration-none text-success">
                        <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                      </a> 
                      <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                        <i class="bi bi-question-circle"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row border-bottom py-3"> 
                    <div class="col-3 ps-3">
                      <img src="./Images/1.jpg" width="100%" height="120px">
                    </div>
                    <div class="col-7">
                      <p class="fs-5">Giayf</p>
                      <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                      <p>x1</p>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                      <div class="text-center">
                          <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                          <span style="color: orangered;">₫12.900</span>
                      </div>
                    </div>
                  </div>
                  <div class="row py-3">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight">
                        <div class="text-end">
                          Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                        </div>
                      </div>
                      <div class="p-2 bd-highlight">
                        <div class="d-flex justify-content-between">
                          <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                          <div class="p-2 bd-highlight">
                            <button class="btn btn-danger">Mua lại</button>
                            <button class="btn btn-outline-dark">Chi tiết</button>
                            <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3 bg-light">
                  <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                    <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                    <div class="p-2 bd-highlight">
                      <a href="#" class="text-decoration-none text-success">
                        <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                      </a> 
                      <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                        <i class="bi bi-question-circle"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row border-bottom py-3"> 
                    <div class="col-3">
                      <img src="./Images/1.jpg" width="100%" height="120px">
                    </div>
                    <div class="col-7">
                      <p class="fs-5">Giayf</p>
                      <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                      <p>x1</p>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                      <div class="text-center">
                          <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                          <span style="color: orangered;">₫12.900</span>
                      </div>
                    </div>
                  </div>
                  <div class="row py-3">
                    <div class="d-flex flex-column bd-highlight">
                      <div class="p-2 bd-highlight">
                        <div class="text-end">
                          Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                        </div>
                      </div>
                      <div class="p-2 bd-highlight">
                        <div class="d-flex justify-content-between">
                          <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                          <div class="p-2 bd-highlight">
                            <button class="btn btn-danger">Mua lại</button>
                            <button class="btn btn-outline-dark">Chi tiết</button>
                            <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel">
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel">
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel">
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab5" role="tabpanel">
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab6" role="tabpanel">
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab7" role="tabpanel">
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 bg-light">
                <div class="d-flex flex-row-reverse bd-highlight border-bottom">
                  <div class="p-2 bd-highlight border-start" style="color: orangered;">Hoàn thành</div>
                  <div class="p-2 bd-highlight">
                    <a href="#" class="text-decoration-none text-success">
                      <i class="bi bi-truck"></i> Đơn hàng đang hoàn về cho người gửi
                    </a> 
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Giang">
                      <i class="bi bi-question-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="row border-bottom py-3"> 
                  <div class="col-3">
                    <img src="./Images/1.jpg" width="100%" height="120px">
                  </div>
                  <div class="col-7">
                    <p class="fs-5">Giayf</p>
                    <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
                    <p>x1</p>
                  </div>
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <span class="text-secondary text-decoration-line-through">₫30.000 </span>
                        <span style="color: orangered;">₫12.900</span>
                    </div>
                  </div>
                </div>
                <div class="row py-3">
                  <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                      <div class="text-end">
                        Thành tiền: <span style="color: orangered; font-size: 24px;">₫12.900</span>
                      </div>
                    </div>
                    <div class="p-2 bd-highlight">
                      <div class="d-flex justify-content-between">
                        <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-danger">Mua lại</button>
                          <button class="btn btn-outline-dark">Chi tiết</button>
                          <a href="tel:0987654321" class="btn btn-outline-dark">Liên hệ người bán</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>