<div class="container">
    <div class="row mb-3">
        <div class="col-4">
            <img src="./Images/user.png" class="rounded-circle border border-dark" width="50px" height="50px" alt="" srcset="">
            <span class="fw-bold">Quốc trung</span>
            <hr>
            <div>
                <a href="#!thongtintaikhoan" class="fs-5 text-decoration-none text-dark"><i class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a href="#!donhangcuaban" class="fs-5 text-decoration-none text-danger"><i class="bi bi-bag-fill"></i> Đơn hàng của tôi</a><br>
                <a href="#!quenmatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Quên mật khẩu</a>
            </div>
        </div>
        <div class="col-8">
            <p class="text-center fs-5 fw-bolder">Đơn hàng của bạn</p>
            <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>