<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <img src="./Images/user.png" class="rounded-circle border border-dark" width="50px" height="50px" alt="" srcset="">
            <span class="fw-bold">Quốc trung</span>
            <hr>
            <div>
                <a class="fs-5 text-decoration-none text-danger"><i class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a href="#!diachi" class="fs-5 text-decoration-none text-dark"><i class="bi bi-geo-alt-fill"></i> Địa chỉ của tôi</a><br>
                <a href="#!donhangcuaban" class="fs-5 text-decoration-none text-dark"><i class="bi bi-bag-fill"></i> Đơn hàng của tôi</a><br>
                <a href="#!voucher" class="fs-5 text-decoration-none text-dark"><i class="bi bi-list"></i> Kho voucher</a><br>
                <a href="#!doimatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Đổi mật khẩu</a>
            </div>
        </div>
        <div class="col-9">
            <p class="text-center fs-5 fw-bolder">Hồ sơ của tôi</p>
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3 fw-bolder">
                        <label for="ten" class="form-label">Tên đầy đủ</label>
                        <input type="text" class="form-control" id="ten" ng-model="dataTttk.ten">
                    </div>
                
                    <div class="mb-3 fw-bolder">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" ng-model="dataTttk.email">
                    </div>
                
                    <div class="mb-3 fw-bolder">
                        <label for="sdt" class="form-label">Số điện thoại</label>
                        <input type="tel" class="form-control" id="sdt" ng-model="dataTttk.sdt">
                    </div>
                
                    <div class="mb-3">
                        <label for="gioitinh" class="form-label">Giới tính</label>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="gioitinh" id="gioitinhNam" ng-model="dataTttk.gioitinh" ng-value="true">
                                <label class="form-check-label" for="gioitinhNam">Nam</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gioitinh" id="gioitinhNu" ng-model="dataTttk.gioitinh" ng-value="false">
                                <label class="form-check-label" for="gioitinhNu">Nữ</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="mb-3 fw-bolder">
                        <label for="ngaysinh" class="form-label">Ngày sinh</label>
                        <input type="date" class="form-control" 
                               id="ngaysinh" 
                               ng-model="dataTttk.ngaysinh" 
                               ng-init="dataTttk.ngaysinh = dataTttk.ngaysinh ? dataTttk.ngaysinh.split('T')[0] : null">
                    </div>
                    
                
                    <button class="btn btn-primary" ng-click="btnLuu(dataTttk.id)">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>