<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <img src="./Images/user.png" class="rounded-circle border border-dark" width="50px" height="50px" alt="" srcset="">
            <span class="fw-bold">Quốc trung</span>
            <hr>
            <div>
                <a href="#!thongtintaikhoan" class="fs-5 text-decoration-none text-dark"><i class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a href="#!diachi" class="fs-5 text-decoration-none text-dark"><i class="bi bi-geo-alt-fill"></i> Địa chỉ của tôi</a><br>
                <a href="#!donhangcuaban" class="fs-5 text-decoration-none text-dark"><i class="bi bi-bag-fill"></i> Đơn hàng của tôi</a><br>
                <a class="fs-5 text-decoration-none text-danger"><i class="bi bi-list"></i> Kho voucher</a><br>
                <a href="#!doimatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Đổi mật khẩu</a>
            </div>
        </div>
        <div class="col-9">
            <div class="input-group mb-3 pt-3">
                <button class="btn btn-dark" type="button" id="button-addon1"><i class="bi bi-search"></i></button>
                <input type="text" class="form-control" placeholder="Nhập ID đơn hàng hoặc tên sản phẩm" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between bg-light rounded" style="height: 100px;">
                        <div style="width: 100px">
                            <img class="bg-success rounded-start ps-0 ms-0" src="https://down-vn.img.susercontent.com/file/sg-11134004-22120-4cskiffs0olvc3" style="width: 100px; height: auto;">
                        </div>
                        <div style="margin: auto; width: 50%;">
                            <p>
                                <span class="fw-semibold">Giảm tối đa ₫500k</span> <br>
                                <span class="fw-semibold">Đơn Tối Thiểu ₫500k</span> <br>
                                <span style="font-size: 12px;">Số lượng: 4</span><br>
                                <span style="font-size: 12px; color: gray;">
                                    <i class="bi bi-clock"></i>Có hiệu lực sau: 9 giờ <a href="#" style="text-decoration: none; color: blue;">Điều kiện</a>
                                </span>
                            </p>
                        </div>
                        <div style="width: 20%; padding: auto; margin: auto;">
                            <button type="button" class="btn btn-outline-success">Dùng sau</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between bg-light rounded" style="height: 100px;">
                        <div style="width: 100px">
                            <img class="bg-danger rounded-start ps-0 ms-0" src="https://down-vn.img.susercontent.com/file/sg-11134004-22120-4cskiffs0olvc3" style="width: 100px; height: auto;">
                        </div>
                        <div style="margin: auto; width: 50%;">
                            <p>
                                <span class="fw-semibold">Giảm tối đa ₫500k</span> <br>
                                <span class="fw-semibold">Đơn Tối Thiểu ₫500k</span> <br>
                                <span style="font-size: 12px;">Số lượng: 4</span><br>
                                <span style="font-size: 12px; color: gray;">
                                    <i class="bi bi-clock"></i>HSD: 20.03.2025 <a href="#" style="text-decoration: none; color: blue;">Điều kiện</a>
                                </span>
                            </p>
                        </div>
                        <div style="width: 20%; padding: auto; margin: auto;">
                            <button type="button" class="btn btn-outline-danger">Dùng ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>