<style>
    .btnfunction {
        color: blue;
        text-decoration: none;
    }

    .btnfunction:hover {
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<div class="container">
    <div class="row mb-3">
        <div class="col-3">
            <div class="d-flex flex-column align-items-center">
                <img src="https://localhost:7196/picture/{{dataTttk.avatar}}" 
                     class="rounded-circle border-dark" 
                     width="80px" height="80px" alt="">
                <span class="fw-bold text-center">{{dataTttk.ten}}</span>
            </div>
            <hr>
            <div>
                <a href="#!thongtintaikhoan" class="fs-5 text-decoration-none text-dark"><i
                        class="bi bi-person-fill"></i> Hồ sơ của tôi</a><br>
                <a class="fs-5 text-decoration-none text-danger"><i class="bi bi-geo-alt-fill"></i> Địa chỉ của
                    tôi</a><br>
                <a href="#!donhangcuaban" class="fs-5 text-decoration-none text-dark"><i class="bi bi-bag-fill"></i> Đơn
                    hàng của tôi</a><br>
                <a href="#!voucher" class="fs-5 text-decoration-none text-dark"><i class="bi bi-list"></i> Kho
                    voucher</a><br>
                <a href="#!doimatkhau" class="fs-5 text-decoration-none text-dark"><i class="bi bi-key-fill"></i> Đổi
                    mật khẩu</a>
            </div>
        </div>
        <div class="col-9 p-3 bg-light">
            <div class="row border-bottom mb-3">
                <div class="d-flex justify-content-between">
                    <div class="p-2 bd-highlight">Địa chỉ của tôi</div>
                    <div class="p-2 bd-highlight">
                        <button type="button" style="background-color: orangered; color: white;" class="btn rounded-0"
                            data-bs-toggle="modal" data-bs-target="#AddAddressModal"><i class="bi bi-plus"></i> Thêm địa
                            chỉ mới</button>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="diachi-list"></div>
            </div>
        </div>
    </div>
</div>
<!--Add Address-->
<div class="modal fade" id="AddAddressModal" tabindex="-1" aria-labelledby="AddAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddAddressModalLabel">Thêm địa chỉ mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" row mb-3">
                    <div class="col-md">
                        <input type="text" ng-model="add.tennguoinhan" placeholder="Họ và tên" class="form-control"
                            id="tennguoinhan">
                    </div>
                    <div class="col-md">
                        <input type="tel" ng-model="add.sdtnguoinhan" placeholder="Số điện thoại" class="form-control"
                            id="sdtnguoinhan">
                    </div>
                </div>
                <div class="mb-3">
                    <select id="selectTinh" class="form-select">
                        <option selected value="">Chọn Tỉnh Thành</option>
                    </select>
                </div>
                <div class=" row mb-3">
                    <div class="col-md">
                        <select id="selectQuan" class="form-select">
                            <option selected value="">Chọn Quận Huyện</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <select id="selectPhuong" class="form-select">
                            <option selected value="">Chọn Phường Xã</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input ng-model="add.diachicuthe" type="text" placeholder="Địa chỉ cụ thể" id="detailInput"
                        class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnSaveAddress">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditAddressModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật địa chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="updateAddressId" value="" style="display: none;">
                <div class=" row mb-3">
                    <div class="col-md">
                        <input type="text" ng-model="update.tennguoinhan" placeholder="Họ và tên" class="form-control"
                            id="updatetennguoinhan">
                    </div>
                    <div class="col-md">
                        <input type="tel" ng-model="update.sdtnguoinhan" placeholder="Số điện thoại" class="form-control"
                            id="updatesdtnguoinhan">
                    </div>
                </div>
                <div class="mb-3">
                    <select id="updateTinh" class="form-select">
                        <option selected value="">Chọn Tỉnh Thành</option>
                    </select>
                </div>
                <div class=" row mb-3">
                    <div class="col-md">
                        <select id="updateQuan" class="form-select">
                            <option selected value="">Chọn Quận Huyện</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <select id="updatePhuong" class="form-select">
                            <option selected value="">Chọn Phường Xã</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <input ng-model="update.diachicuthe" type="text" placeholder="Địa chỉ cụ thể" id="updatedetailInput"
                        class="form-control">
                </div>
                <div class="mb-3" style="display: none;">
                    <input ng-model="update.trangthai" type="text" placeholder="Trạng thái" id="updateCondition"
                        class="form-control" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="updateForm">Lưu</button>
            </div>
        </div>
    </div>
</div>