<a href="#!nhanvien" class="btn btn-danger">Nhân viên</a>
<a href="#!Mau" class="btn btn-danger">Màu</a>
<a href="#!ChatLieu" class="btn btn-danger">Chất liệu</a>
<a href="#!Size" class="btn btn-danger">Size</a>
<a href="#!sanpham" class="btn btn-danger">Sản phẩm</a>
<a href="#!Rank" class="btn btn-danger">Rank</a>
<a href="#!Vocher" class="btn btn-danger">Vocher</a>
<a href="#!thongtinAdmin" class="btn btn-danger">Thong tin tai khoản</a>
<a href="#!thuongHieu" class="btn btn-primary"> Thương hiệu</a>
<a href="#!quanlyhoadon" class="btn btn-danger">Quản Lý Hoá Đơn</a>
<a href="#!trahang" class="btn btn-danger">Quản Lý Trả hàng</a>
<a href="#!KhachHang" class="btn btn-danger">Khách hàng</a>
<button class="btn btn-danger" ng-click="dangxuat()">
    <i class="bi bi-box-arrow-right"></i> Đăng xuất
</button>
