<div ng-repeat="x in dataHoaDon" ng-if="x.id==idhd" class="mb-3">
    <div class="d-flex flex-row-reverse bd-highlight border-bottom">
      <div class="p-2 bd-highlight text-uppercase" style="color: orangered;">
        <span ng-if="x.trangthai==0">Chờ xác nhận</span>
        <span ng-if="x.trangthai==1">Đã xác nhận</span>
        <span ng-if="x.trangthai==2">Đang được giao</span>
        <span ng-if="x.trangthai==3">Thành công</span>
        <span ng-if="x.trangthai==4">Đã huỷ</span>
      </div>
    </div>
  
    <div class="row" ng-init="showMore = {}">
      <!-- Nếu đang thu gọn, chỉ hiển thị hình ảnh sản phẩm -->
      <div class="row py-3" ng-if="!showMore[x.id]">
        <div class="col-12 d-flex flex-wrap">
          <div class="p-2" ng-repeat="hdct in dataHoaDonCT | filter:{idhd: x.id} | limitTo: 3">
            <img ng-repeat="spct in sanphamct" ng-if="spct.id == hdct.idspct" src="https://localhost:7196/picture/{{spct.urlHinhanh}}" width="80px" height="80px">
          </div>
        </div>
      </div>
  
      <!-- Nếu mở rộng, hiển thị đầy đủ chi tiết sản phẩm -->
      <div class="row py-3" ng-if="showMore[x.id]" ng-repeat="hdct in dataHoaDonCT | filter:{idhd: x.id}">
        <div class="col-3 ps-3">
          <img ng-repeat="spct in sanphamct" ng-if="spct.id == hdct.idspct" src="https://localhost:7196/picture/{{spct.urlHinhanh}}" width="100%" height="120px">
        </div>
        <div class="col-7">
          <p class="fs-5">Giayf</p>
          <p class="text-secondary">Phân loại: Da độn - Đen - 38</p>
          <p>x{{hdct.soluong}}</p>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <span ng-if="hdct.giamgia && hdct.giamgia > 0" class="text-secondary text-decoration-line-through">
              {{ hdct.giamgia | currency:"₫":0 }}
            </span>
            <span style="color: orangered;">{{ hdct.giasp | currency:"₫":0 }}0</span>
          </div>
        </div>
      </div>
  
      <!-- Hiển thị nút "Xem thêm" hoặc "Thu gọn" -->
      <div class="text-center mt-2" ng-if="(dataHoaDonCT | filter:{idhd: x.id}).length > 2">
        <button class="btn btn-outline-primary" ng-click="showMore[x.id] = !showMore[x.id]">
          {{ showMore[x.id] ? 'Thu gọn' : 'Xem thêm' }}
        </button>
      </div>
    </div>
  
    <div class="row py-3">
      <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight">
          <div class="text-end">
            Thành tiền: <span style="color: orangered; font-size: 24px;">{{ x.tongtiencantra | currency:"₫":0 }}</span>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight text-secondary">Đã hủy bởi bạn</div>
            <div class="p-2 bd-highlight">
              <button class="btn btn-danger" ng-if="x.trangthai==3 || x.trangthai==4">Mua lại</button>
              <button class="btn btn-outline-dark" ng-click="chitietdh(x.id)">Chi tiết</button>
              <a class="btn btn-outline-dark" href="tel:0867812095">Liên hệ người bán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>